.App{

  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3em;

}

input{
  width:23%;
  min-height:2em;
  margin: 2%;
}
button{
  min-height: 2.5em;
  border-radius: 10px;
  font-weight: bolder;
}
table {
  margin-top: 5%;
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
  background-color: rgb(177, 177, 177);
}
table th,table td {
  border:1px solid;
  padding: 8px;
  text-align: center;
}
span{
  margin: 3%;
}
